.elementor-4947 .elementor-element.elementor-element-576271ee:not(.elementor-motion-effects-element-type-background),
.elementor-4947 .elementor-element.elementor-element-576271ee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #101C3D;
}

.elementor-4947 .elementor-element.elementor-element-576271ee>.elementor-container {
    max-width: 1200px;
}

.elementor-4947 .elementor-element.elementor-element-576271ee {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 70px 0px;
}

.elementor-4947 .elementor-element.elementor-element-576271ee>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4947 .elementor-element.elementor-element-8592c21>.elementor-element-populated {
    padding: 0px 30px 0px 0px;
}

.elementor-widget-theme-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-4947 .elementor-element.elementor-element-125a6aed {
    text-align: left;
}

.elementor-4947 .elementor-element.elementor-element-125a6aed img {
    width: 41%;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-4947 .elementor-element.elementor-element-61790707 {
    color: #CCCCCC;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-4947 .elementor-element.elementor-element-8220cf9 {
    width: auto;
    max-width: auto;
}

.elementor-4947 .elementor-element.elementor-element-8220cf9>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCCCCC;
}

.elementor-4947 .elementor-element.elementor-element-8220cf9 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #CCCCCC;
}

.elementor-widget-posts .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-post__title,
.elementor-widget-posts .elementor-post__title a {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-posts .elementor-post__meta-data {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-posts .elementor-post__excerpt p {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-posts .elementor-post__read-more {
    color: var( --e-global-color-accent);
}

.elementor-widget-posts a.elementor-post__read-more {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-post__card .elementor-post__badge {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-pagination {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-posts .e-load-more-message {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-4947 .elementor-element.elementor-element-76e5544 {
    --grid-row-gap: 25px;
    --grid-column-gap: 30px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc( 0.6 * 100%);
}

.elementor-4947 .elementor-element.elementor-element-76e5544:after {
    content: "0.6";
}

.elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-post__thumbnail__link {
    width: 88px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-post__thumbnail {
    border-radius: 5px 5px 5px 5px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-post__title,
.elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-post__title a {
    color: var( --e-global-color-astglobalcolor4);
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.elementor-4947 .elementor-element.elementor-element-7ea64de {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-4947 .elementor-element.elementor-element-7ea64de .elementor-widget-container {
    text-align: left;
}

.elementor-4947 .elementor-element.elementor-element-445adb8c>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #CCCCCC;
    padding: 0px 0px 0px 30px;
}

.elementor-4947 .elementor-element.elementor-element-52138b1f {
    width: auto;
    max-width: auto;
}

.elementor-4947 .elementor-element.elementor-element-52138b1f>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCCCCC;
}

.elementor-4947 .elementor-element.elementor-element-52138b1f .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #CCCCCC;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b>.elementor-widget-container {
    padding: 20px 0px 10px 0px;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(30px/2);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(30px/2);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(30px/2);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-30px/2);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-30px/2);
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-icon i {
    color: #CCCCCC;
    transition: color 0.3s;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-icon svg {
    fill: #CCCCCC;
    transition: fill 0.3s;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b {
    --e-icon-list-icon-size: 30px;
    --icon-vertical-offset: 0px;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-icon {
    padding-inline-end: 10px;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-text {
    color: #CCCCCC;
    transition: color 0.3s;
}

.elementor-4947 .elementor-element.elementor-element-4dfb742b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-4947 .elementor-element.elementor-element-81d331b {
    width: auto;
    max-width: auto;
}

.elementor-4947 .elementor-element.elementor-element-81d331b>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCCCCC;
}

.elementor-4947 .elementor-element.elementor-element-81d331b .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #CCCCCC;
}

.elementor-4947 .elementor-element.elementor-element-6e507a7 {
    --spacer-size: 1px;
}

.elementor-widget-form .elementor-field-group>label,
.elementor-widget-form .elementor-field-subgroup label {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group>label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-button[type="submit"] {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .e-form__buttons__wrapper__button-previous {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-message {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form {
    --e-form-steps-indicator-inactive-primary-color: var( --e-global-color-text);
    --e-form-steps-indicator-active-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-completed-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-background-color: var( --e-global-color-text);
    --e-form-steps-indicator-progress-meter-color: var( --e-global-color-text);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-4947 .elementor-element.elementor-element-e7237ed {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

@media(max-width:767px) {
    .elementor-4947 .elementor-element.elementor-element-8592c21>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc( 0.5 * 100%);
    }
    .elementor-4947 .elementor-element.elementor-element-76e5544:after {
        content: "0.5";
    }
    .elementor-4947 .elementor-element.elementor-element-76e5544 .elementor-post__thumbnail__link {
        width: 100px;
    }
    .elementor-4947 .elementor-element.elementor-element-445adb8c>.elementor-element-populated {
        border-width: 1px 0px 0px 0px;
        padding: 20px 10px 10px 10px;
    }
}

@media(min-width:768px) {
    .elementor-4947 .elementor-element.elementor-element-8592c21 {
        width: 51.082%;
    }
    .elementor-4947 .elementor-element.elementor-element-24192e5 {
        width: 22.028%;
    }
    .elementor-4947 .elementor-element.elementor-element-445adb8c {
        width: 26.5%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4947 .elementor-element.elementor-element-8592c21 {
        width: 50%;
    }
    .elementor-4947 .elementor-element.elementor-element-445adb8c {
        width: 50%;
    }
}

/* Start custom CSS for theme-site-logo, class: .elementor-element-125a6aed */

.footer-logo {
    filter: grayscale(1) invert(1);
}

/* End custom CSS */